.direct {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
}

.user-header {
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: #ffff;
    height: 100px;
}

.user-header i {
    margin-right: 20px;
    font-size: 25px;
    color: #111111;
}

.users {
    background-color: #fff;
}
.ssex {
    display: flex;
}