.password-show {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 9999;
    display: none;
}

.wrap-password {
    position: relative;
}

.custom-button {
    position: relative;
    height: 50px;
}

.message {
    color: red;
    display: block;
    font-size: 11px
}